body,
header,
nav,
#main,
#mainVisual {
  position: relative;
  overflow: hidden;
}

.pc {
  display: none;
}

.sp {
  display: block;
}

#head_bg img {
  max-width: 76%;
}

#arrow img {
  height: 7%;
  bottom:9%!important;
}

#name-svg01 {
  left: 0;
  top: 10% !important;
  width: 80%;
}

#name-svg02 {
  left: 0 !important;
  right: 0;
  width: 80%;
  top: 75% !important;
  bottom: 60% !important;
  margin: auto auto !important;
}

/*menu*/

.mask3 {
  overflow: hidden;
}

#btn_bio a {
  top: 10px;
}

#btn_contact a {
  bottom: 5px;
  max-width: 40%;
}

#btn_access a {
  right: -26px;
}

#btn_access a.on {
  right: -16px;
}

#btn_menu a {
  left: 6px;
}

/**/

#bio_cont .mask3 .mask_cont {
  margin: 0px 50px 0 50px;
  font-size: 10px;
  line-height: 17px;
}

#bio_cont.is-visible .mask3 .mask_cont {
  margin: 20px 50px 0 50px;
  font-size: 10px;
}

#bio_cont .mask2:before {
  background-size: cover;
}

/**/

#menu_cont .mask1 {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#menu_cont .mask2 {
  width: 100%;
  height: 50%;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

#menu_cont .mask3 {
  width: 100%;
  height: 50%;
  bottom: 0;
  top: auto;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

#menu_cont .mask3 .mask_cont .fadein_item {
  -webkit-transform: translate3d(0, 100px, 0) skewX(-30deg);
  transform: translate3d(0, 100px, 0) skewX(-30deg);
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menu_cont .mask3 .mask_cont {
  width: 100%;
  margin: -20px 0 0 0;
  text-align: center;
  line-height: 23px;
  font-size: 12px;
}

#menu_cont .mask3 .mask_cont .fadein_item:nth-of-type(8) {
    font-size: 10px;
    line-height: 17px;
    margin-top: 15px;
}

#menu_cont.is-visible .mask1 {
  opacity: 1;
}

#menu_cont.is-visible .mask2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#menu_cont.is-visible .mask3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/**/

#access_cont .mask1 {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#access_cont .mask2 {
  width: 100%;
  height: 50%;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

#access_cont .mask3 {
  width: 100%;
  height: 50%;
  bottom: 0;
  top: auto;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

#access_cont .mask3 .mask_cont .fadein_item {
  -webkit-transform: translate3d(0, 100px, 0) skewX(-30deg);
  transform: translate3d(0, 100px, 0) skewX(-30deg);
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      margin-bottom: 15px;
}

#access_cont .mask3 .mask_cont {
  width: 100%;
  margin: -20px 0 0 0;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
}

#access_cont .mask3 .mask_cont p {
  line-height: 18px;
  font-size: 8px;
}

#access_cont.is-visible .mask1 {
  opacity: 1;
}

#access_cont.is-visible .mask2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#access_cont.is-visible .mask3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/**/

#contact_cont .mask2 {
  background-size: cover;
}

#contact_cont .mask3 .mask_cont .mask_small {
  font-size: 12px !important;
}

#contact_cont .mask3 .mask_cont {
  font-size: 12px;
}

#contact_cont.is-visible .mask3 .mask_cont {
  line-height: 30px;
}

/**/

#gallery_left01 .mask2 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-size: cover;
}

#gallery_left01 .mask3 {
  display: none;
}

#gallery01.active #gallery_left01 .mask2 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

/**/

#gallery_left02 .mask2 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-size: cover;
}

#gallery_left02 .mask3 {
  display: none;
}

#gallery02.active #gallery_left02 .mask2 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

/**/

#gallery_left03 .mask2 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-size: cover;
}

#gallery_left03 .mask3 {
  display: none;
}

#gallery03.active #gallery_left03 .mask2 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

/**/

#gallery_left04 .mask2 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-size: cover;
}

#gallery_left04 .mask3 {
  display: none;
}

#gallery04.active #gallery_left04 .mask2 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

/**/

#sns {
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-transform: translate(80px, 0);
  transform: translate(80px, 0);
}

#sns ul li {
  float: none;
  margin-top: 10px;
}

.mask_small {
  font-size: 10px;
  /*line-height: 20px;*/
}

.mask_bottom {
  margin-bottom: 10px;
  line-height: 35px;
}

.mask_top {
  margin-top: 10px;
}

#gallery01 #gallery_left01 .mask2,
#gallery02 #gallery_left02 .mask2,
#gallery03 #gallery_left03 .mask2,
#gallery04 #gallery_left04 .mask2 {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

#gallery01.active #gallery_left01 .mask2,
#gallery02.active #gallery_left02 .mask2,
#gallery03.active #gallery_left03 .mask2,
#gallery04.active #gallery_left04 .mask2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Menu */

#menu_all {
  visibility: hidden;
}

#menu_all.is-visible {
  visibility: visible;
}
